---
// import Playlist from "../components/Playlist.astro";
// import Songbar from "../components/Songbar";
// import Tarjeta from "../components/Tarjeta.jsx";
import Layout from "../layouts/Layout.astro";
// import { Icon } from "astro-icon/components";
import SongList from '../components/Songlist.jsx'
// import { $showingFavorites } from '../store.js';
// import FavoritesToggleButton from '../components/FavoritesToggleButton.jsx';

const api = await fetch("https://api.institutoalfa.org/api/songs");
const   {songs}  = await api.json();
---

<Layout>

	<div class="canciones">
			<SongList
				client:visible
				allSongs={songs}
			/>
	</div>
	
</Layout>
<style>
	.container {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		padding: 56px;
	}
</style>