

    .Tarjeta {
        background: #181818;
        border-radius: 12px;
        box-shadow: 0 4px 24px rgba(0,0,0,0.3);
        overflow: hidden;
        width: 500px;
        height: 50px ;
        padding: 16px;
        align-items: center;
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        display: flex;
        
       justify-content: space-between;
       
        
    }

    .Tarjeta:hover {
        transform: scale(1.04);
        box-shadow: 0 8px 32px rgba(0,0,0,0.5);
    }

    .Tarjeta img {
        width:56px;
        height: 56px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 12px; 
    }

    .Tarjeta .info-text {
  display: flex;
  flex-direction: column; /* Apila título y descripción verticalmente dentro de este div */
  flex-grow: 1; /* Permite que este div ocupe el espacio restante */
  overflow: hidden; /* Oculta el texto que se desborda */
}

.Tarjeta .titulo {
  color: #fff;
  font-size: 0.9em;   /* <-- Aplicar este tamaño */
  font-weight: bold;
  margin: 0; /* Resetear márgenes */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Eliminar text-align: center; si quieres alineación a la izquierda */
}

.Tarjeta .descripcion {
  color: #b3b3b3;
  font-size: 0.75em;   /* <-- Aplicar este tamaño, quizás más pequeño */
  margin: 0; /* Resetear márgenes */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}